html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
  font-weight: 500;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  text-decoration: none;
}

a:hover {      
  text-decoration: underline;  
}

a:visited {
  color: black;
}

li {
  list-style-type: none;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* El comando box-shadow no me lo toma  */
  box-shadow: 0px 0.3px 5px;
  position: sticky;
  top: 0;
  background-color: white;

}

.logo {
  width: 550px;
  height: 100px;
}

nav {
  width: 100%;
}

.habitacion {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.grid__hijo1 {
  display: flex;
  justify-content: right;
  grid-area: ele2;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}

.principal {
  justify-content: center;
  align-items: center;
  text-align: center;
  box-sizing: 100;

}

.logocama {
  display: block;
  margin: 0 auto;
  width: 5%;
}

.fotohotel {
  background-image: url("../imagenes/slide02.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  background-attachment: fixed;
  height: 600px;
  margin: 1%;
}

.items {
  display: inline-flex
}

.text-focus-in {
-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.scale-up-center:hover {
-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.heartbeat {
-webkit-animation: heartbeat 4s ease-in-out both;
        animation: heartbeat 4s ease-in-out both;
}





.get-in-touch {
max-width: 800px;
margin: 50px auto;
position: relative;

}
.get-in-touch .title {
text-align: center;
text-transform: uppercase;
letter-spacing: 3px;
font-size: 3.2em;
line-height: 48px;
padding-bottom: 48px;
   color: black;
  background: black;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.contact-form .form-field {
position: relative;
margin: 32px 0;
}
.contact-form .input-text {
display: block;
width: 100%;
height: 36px;
border-width: 0 0 2px 0;
border-color: #000;
font-size: 18px;
line-height: 26px;
font-weight: 400;
}
.contact-form .input-text:focus {
outline: none;
}
.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
-webkit-transform: translateY(-24px);
        transform: translateY(-24px);
}
.contact-form .label {
position: absolute;
left: 20px;
bottom: 11px;
font-size: 18px;
line-height: 26px;
font-weight: 400;
color: #000;
cursor: text;
transition: -webkit-transform .2s ease-in-out;
transition: transform .2s ease-in-out;
transition: transform .2s ease-in-out, 
-webkit-transform .2s ease-in-out;
}
.contact-form .submit-btn {
display: inline-block;
background-color: #000;
 background-image: linear-gradient(125deg,#a72879,#064497);
color: #fff;
text-transform: uppercase;
letter-spacing: 2px;
font-size: 16px;
padding: 8px 16px;
border: none;
width:200px;
cursor: pointer;
}

/*------------------ footer ------------------*/
.footer-basic {
padding-top:60px 0;
background-color:#ffffff;
color:#ffffff;
}

footer {
background-color: rgb(0, 0, 0);
}

.footer-basic ul {
padding:0;
list-style:none;
text-align:center;
font-size:18px;
line-height:1.6;
margin-bottom:0;
}

.footer-basic li {
padding:0 10px;
}

.footer-basic ul a {
color:inherit;
text-decoration:none;
opacity:0.8;
}

.footer-basic ul a:hover {
opacity:1;
}

.footer-basic .social {
text-align:center;
padding-bottom:25px;
padding-top: 25px;
}

.footer-basic .social > a {
font-size:24px;
width:40px;
height:40px;
line-height:40px;
display:inline-block;
text-align:center;
border-radius:50%;
border:1px solid #ccc;
margin:0 8px;
color:inherit;
opacity:0.75;
}

.footer-basic .social > a:hover {
opacity:0.9;
}

.footer-basic .copyright {
margin-top:15px;
text-align:center;
font-size:13px;
color:#aaa;
margin-bottom:0;
}

/*------------------fin footer ------------------*/

@media screen and (max-width: 1024px) {
  body {
      background-color: bisque;
  }
}

@media screen and (max-width: 600px) {
  body {
      background-color: thistle;
  }
}


@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}


@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


@keyframes heartbeat {
from {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transform-origin: center center;
          transform-origin: center center;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
10% {
  -webkit-transform: scale(0.91);
          transform: scale(0.91);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
17% {
  -webkit-transform: scale(0.98);
          transform: scale(0.98);
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
33% {
  -webkit-transform: scale(0.87);
          transform: scale(0.87);
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}
45% {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}
}
