html {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

a {
    color: black;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover {      
    text-decoration: underline;  
}

a:visited {
    color: black;
}

li {
    list-style-type: none;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* El comando box-shadow no me lo toma  */
    box-shadow: 0px 0.3px 5px;
    position: sticky;
    top: 0;
    background-color: white;

}

.logo {
    width: 550px;
    height: 100px;
}

nav {
    width: 100%;
}

.habitacion {
    width: 80%;
    display: block;
    margin: 0 auto;
}

footer {
    display: grid;
    grid-template-columns: 1000px 80px;
    grid-template-rows: 40px 40px 40px;
    grid-template-areas: 
        "ele1 ele1"
        "ele1 ele1"
        "ele1 ele2";
}

.grid__hijo1 {
    display: flex;
    justify-content: right;
    grid-area: ele2;
}

.botones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.principal {
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: 100;

}

.logocama {
    display: block;
    margin: 0 auto;
    width: 5%;
}

.fotohotel {
    background-image: url("../imagenes/slide02.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    background-attachment: fixed;
    height: 600px;
    margin: 1%;
}

.items {
    display: inline-flex
}

@media screen and (max-width: 1024px) {
    body {
        background-color: bisque;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: thistle;
    }
}

